body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

/* Estilos del encabezado */
header {
	background-color: #ce1515;
	color: #fff;
	padding: 10px;
	text-align: center;
}

header p {
	font-size: 18px;
	line-height: 1.5;
	margin: 20px ;
}

/* Estilos de los completos */
.completo-info h2 {
	
	font-size: 30px;
	font-weight: bold;
	margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
}

  img {
    background-color: rgb(245, 241, 241);
    font-size: 25px;
    border: rgb(0, 0, 0) 5px solid;
  }
 h1 {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: oblique;
    
  }
